[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.7"
requests = "*"
pymysql = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
fontawesomefree = "*"
python-dotenv = "*"
mysqlclient = "*"
pandas = "*"
django-braces = "*"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.9"
