[Unit]
Description=uWSGI instance to server App Subscription Dashboard project
After=network.target

[Service]
User=appsubscriptiondashboard
Group=webapps
WorkingDirectory=/apps/appsubscriptiondashboard/appsubscriptiondashboard
Environment="PATH=/apps/appsubscriptiondashboard/bin"
ExecStart=/apps/appsubscriptiondashboard/bin/uwsgi --ini /apps/appsubscriptiondashboard/conf/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target

